html,body{
    margin: 0;
    padding: 0;
    background-color: #333645;
 }
 nav{
     /* background-color:rgb(171, 157, 250); */
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: rgb(167, 167, 168);
 }
 ul{
     margin: 0;
     padding:50px;
     display: block;
 }


 li{
    display: inline;
    margin-right: 50px;
    padding: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    
 }
 nav li:hover{
     color:rgb(248, 248, 250);
    font-weight: 600;
 }
 /* mobile view */


#banner{
     /* background-color: red; */
     height: 400px;
 }
 #banner-left{
     
     display: inline;
     float: left;
    width:50%;
    height: 100%;
    
    }
    #img-parent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }

    
 #banner-left img{
     border-radius: 50%;
    width: 200px;
    height: 200px;
 }
#banner-right{
    /* background-color: green; */
    display: inline;
    float: left;
    width: 50%;
    height: 100%;

} 
#intro-parent{
    padding: 100px 50px;
}
#my-name {
color:whitesmoke ;

font-size: 40px;
/* transition-duration: 0.40s; */
font-family: 'Zhi Mang Xing', cursive;
font-weight: lighter;
}

#intro-self{
    color: rgb(246, 248, 248);
    text-align: justify;
    font-family: 'Lato', sans-serif;
    

    
}
#skills{
    /* background-color: rgb(99, 11, 11); */
    padding: 50px;
}
#skill-list{
    padding-left: 80px;
    padding-bottom: 0;
    color: rgb(245, 245, 241);
    font-family: 'Lato', sans-serif;
    font-weight: 999;
    font-style: italic;
    font-size: large;

}
#skill-list:hover{
    font-size: x-large;
    transition-duration: 0.4s;
  
}

#progress-value{
    display: inline;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: white;
    font-size: small;
    font-style: oblique;
    margin-left: 80px;
}
#html-progress{
margin-left: 80px;
}
#css-progress{
    margin-left: 80px;
    
}
#contact{
    text-align: center;
    color: white;
    padding: 55px 0;
    background-color: #242631
    
}   

#contact i{
    font-size: 20px;
}

#contact a{
text-decoration:none ;}
#contact h3{
    margin-bottom: 40px;
}
footer
{
    background-color: #0c0d11;
    text-align: center;
}
footer i {
color: antiquewhite;
font-size: 40px;
padding-left: 20px;
padding-top: 30px;
padding-bottom: 30px;
transition-duration: 0.4s;

}
footer i:hover{

    transform:scale(1.5);
}
.ham{
    padding: 10px;
    display: none ;
}
.ham i{
    font-size: 30px;
}

/* @media only screen and (min-width:501px){
    .ham{
        display: none ;
    }
} */


@media only screen and (max-width:500px)
{



#banner-left{
     
     display: block;
    width:100%;
    height: 100%;
    
    }
    #img-parent{
      height: auto;
        
    }
    #intro-parent {
        padding-top: 0;
    }
    #banner-right{
     
        display: block;
       width:100%;
       height: 100%;
       
       }
       .ham{
        display: block;
    }
    nav ul{
        display: none ;
    }

    nav li{
        display:block;
        width: 100%;
    }
    nav li:hover {
border-bottom: 1px solid #ffffff;    }



}
 